@font-face {
  font-family: "t"; /* Project id 2649023 */
  src: url('//at.alicdn.com/t/font_2649023_nbbyei0j8s9.woff2?t=1629893974542') format('woff2'),
       url('//at.alicdn.com/t/font_2649023_nbbyei0j8s9.woff?t=1629893974542') format('woff'),
       url('//at.alicdn.com/t/font_2649023_nbbyei0j8s9.ttf?t=1629893974542') format('truetype');
}

.t {
  font-family: "t" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t-paizhao:before {
  content: "\e660";
}

.t-zhibo:before {
  content: "\e64a";
}

.t-shangchuan:before {
  content: "\e61c";
}

.t-note:before {
  content: "\e617";
}

.t-game:before {
  content: "\e9b3";
}

.t-news:before {
  content: "\e616";
}

.t-ketang:before {
  content: "\e614";
}

.t-lianxikefu:before {
  content: "\e615";
}

.t-yusan:before {
  content: "\e633";
}

.t-shezhi:before {
  content: "\e630";
}

.t-my:before {
  content: "\e640";
}

.t-pinglun:before {
  content: "\e600";
}

.t-shanchu:before {
  content: "\e601";
}

.t-lishi:before {
  content: "\e602";
}

.t-shoucang:before {
  content: "\e603";
}

.t-shipin:before {
  content: "\e604";
}

.t-sousuo:before {
  content: "\e605";
}

.t-wenda:before {
  content: "\e606";
}

.t-guanbi:before {
  content: "\e607";
}

.t-shouji:before {
  content: "\e608";
}

.t-wode:before {
  content: "\e609";
}

.t-yanzhengma:before {
  content: "\e60a";
}

.t-shouye:before {
  content: "\e60b";
}

.t-gengduo:before {
  content: "\e60c";
}

.t-youjiantou:before {
  content: "\e60d";
}

.t-fenxiang:before {
  content: "\e60e";
}

.t-dianzan:before {
  content: "\e60f";
}

.t-dianzan2:before {
  content: "\e610";
}

.t-yuedu:before {
  content: "\e611";
}

.t-wuwangluo:before {
  content: "\e612";
}

.t-zuopin:before {
  content: "\e613";
}
