@font-face {
  font-family: "t"; /* Project id 2649023 */
  src: url('//at.alicdn.com/t/font_2649023_y4hp5o7rne.woff2?t=1625451556133') format('woff2'),
       url('//at.alicdn.com/t/font_2649023_y4hp5o7rne.woff?t=1625451556133') format('woff'),
       url('//at.alicdn.com/t/font_2649023_y4hp5o7rne.ttf?t=1625451556133') format('truetype');
}

.t {
  font-family: "t" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t-my:before {
  content: "\e640";
}

.t-pinglun:before {
  content: "\e600";
}

.t-shanchu:before {
  content: "\e601";
}

.t-lishi:before {
  content: "\e602";
}

.t-shoucang:before {
  content: "\e603";
}

.t-shipin:before {
  content: "\e604";
}

.t-sousuo:before {
  content: "\e605";
}

.t-wenda:before {
  content: "\e606";
}

.t-guanbi:before {
  content: "\e607";
}

.t-shouji:before {
  content: "\e608";
}

.t-wode:before {
  content: "\e609";
}

.t-yanzhengma:before {
  content: "\e60a";
}

.t-shouye:before {
  content: "\e60b";
}

.t-gengduo:before {
  content: "\e60c";
}

.t-youjiantou:before {
  content: "\e60d";
}

.t-fenxiang:before {
  content: "\e60e";
}

.t-dianzan:before {
  content: "\e60f";
}

.t-dianzan2:before {
  content: "\e610";
}

.t-yuedu:before {
  content: "\e611";
}

.t-wuwangluo:before {
  content: "\e612";
}

.t-zuopin:before {
  content: "\e613";
}
